

/* Site wide styling
-------------------------------------------------- 
*/


html,
body {
    width: 100%;
    height: 100%;
    color: #2c3e50;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.move-down {
    margin-top: 60px;
}

a:hover, a:focus {
    color: #b71c1c;
}

a {
    color: #212121;
}


.btn-primary {
    background-color: #212121;
    border-color: #b71c1c;
}

.btn-primary:hover {
    background-color: #f05545;
    border-color: #f05545;
}

.btn-primary:focus {
    background-color: #b71c1c;
    border-color: #b71c1c;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

.shadow-2 {
    background-color: rgba(0,0,0,.35);
    text-shadow: 3px 3px 3px black;
}

.shadow {
    text-shadow: 3px 3px 3px black;s
}

.to-big-fix {
    margin-right: 0px;
}

.row {
    margin: 0;
}



/* Navbar styling
-------------------------------------------------- 
*/


.navbar {
    box-shadow: 0px 3px 5px #333;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-nav > li > a {
    font-size: 16px;
}

.navbar-inverse {
    background-color: #212121;
    border-color: #b71c1c;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #b71c1c;
}

.navbar-inverse .navbar-toggle {
    border-color: #b71c1c;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #b71c1c;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #b71c1c;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #b71c1c;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #b71c1c;
}


/* Footer styling
-------------------------------------------------- 
*/


footer {
    padding: 30px 0;
}

.footer-hr {
    border-top: 2px solid #CCC;
}

.f-center {
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;  
}

.footer-a {
    font-size: 35px;
}

.sticky-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.fine-print {
   font-size: 8px;  
}


/* index.html styling
-------------------------------------------------- 
*/


.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background: url("../img/bg.jpg") no-repeat fixed center center / cover transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-primary {
    background-color: #212121;
}
 
.white, .white:hover {
    color: white;
}

.g-gray p, .g-gray h1 {
    color: white;
}
.g-gray p {
    font-size:24px;
    padding-bottom: 50px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.follow-up-p {
    color: #333;
}

.follow-up-p h2 {
    font-size: 45px;
}

.follow-up-p p {
    font-size: 27px;
}

.about {
    padding: 50px 0;
}

.services {
    padding: 50px 0;
    background-color: #212121;
}

.service-item {
    margin-bottom: 30px;
}

i.service-icon:hover {
    font-size: 68px;
    color: #f05545;
}

i.service-icon {
    border: 3px solid #b71c1c;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
}


.callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/portfolio-4.jpg") no-repeat fixed center center / cover transparent;
}

.call-to-action {
    padding: 50px 0;
    margin-bottom: -20px;
}

.call-to-action .btn {
    margin: 10px;
}
.hours-about {
    margin-bottom: -1px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
}

.hours-sub-about {
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 20px;
} 
.g-map-link{
    color: #FFF;
}

.global-shadow{
    box-shadow: 4px 2px 20px 0px black;
}
.focus-red{
    color: #f05545;
}

/* faq.html styling
-------------------------------------------------- 
*/


#faq-list h2 {
    line-height:80px;
    font-size:45px;
    font-weight:700;
    color:#212121;
    padding-left:105px;
    margin: 0;
    cursor:pointer;
}

#faq-list h2:hover {
    color:#b71c1c;
}

#faq-list hr {
    border-bottom: 3px solid #ccc;
}

.answer p {
  margin-left: 100px;
  font-size: 30px;
}

.answer {
    display:none;
    margin-left:60px;
}


/* travels.html styling
-------------------------------------------------- 
*/


.t-green {
    background-color: #212121;
    text-align: center;
    color: white;
    min-height: 225px;
}

.t-white {
    background-color: white;
    text-align: center;
    color: #212121;
    min-height: 225px;
}

.t-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/portfolio-4.jpg") no-repeat fixed center center / cover transparent;
    box-shadow: 0px 4px 5px #333;
}

.t-plans{
    margin-top: -15px;
}

.t-plans h3 {
    margin-top: -5px;
}

.t-border {
    border-bottom: 2px solid #CCC;;
}

.t-hr {
    border-bottom: 1px solid #212121;
}

/* seminars.html styling
-------------------------------------------------- 
*/


.sm-intro {
    background-color:#212121;
    box-shadow: 0px 3px 5px #333;
    margin-top: -8px;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.sm-intro h1 {
    font-size:80px;
    margin-bottom: 40px;
}

.sm-intro p {
    font-size: 25px;
}

.sm-white {
    color:#212121;
}

.sm-green {
    background-color: #212121;
    color: white;
    box-shadow: 0px 3px 5px #333;
}

.sm-green h2, .sm-white h2, .sm-green p, .sm-white p {
    margin-left: 50px;
}

.sm-green h3, .sm-white h3 {
    margin-top: 35px;
    text-align: right;
    margin-right: 50px;
}


/* shop.html styling
-------------------------------------------------- 
*/


.carousel-control:hover, .carousel-control:focus {
    color: #b71c1c;
}

.carousel-control {
    color: #212121;
}

.carousel-indicators li {
    border:1px solid #b71c1c;
}

.carousel-indicators .active {
    background-color: #b71c1c;
}

.s-heading a {
    font-size: 20px;
}

.s-hr {
    border-bottom: 2px solid #ccc
}

.s-item-w {
    margin-top: 10px;
}

.s-item a {
    margin-top: 22px;
    font-size: 40px;
}
.s-item p, .s-item h1{
    text-align: center;
}

.s-item p {
    font-size: 20px;
}

.s-shadow {
    box-shadow: 0px 3px 5px #333;
}


/* roadbikes.html styling
-------------------------------------------------- 
*/


.rb-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/roadbikes.jpg") no-repeat fixed center center / cover transparent;
}


/* mountainbikes.html styling
-------------------------------------------------- 
*/


.mb-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/mountainbikes.jpg") no-repeat fixed center center / cover transparent;
} 


/* cyclebikes.html styling
-------------------------------------------------- 
*/


.cb-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/cyclebikes.jpg") no-repeat fixed center center / cover transparent;
}


/* foldingbikes.html styling
-------------------------------------------------- 
*/


.fb-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/foldingbikes.jpg") no-repeat fixed center center / cover transparent;
}


/* electric-assist.html styling
-------------------------------------------------- 
*/


.ea-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/electric-assist.jpg") no-repeat fixed center center / cover transparent;
}


/* women.html styling
-------------------------------------------------- 
*/


.wb-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/womenbikes.jpg") no-repeat fixed center center / cover transparent;
}


/* childrenbikes.html styling
-------------------------------------------------- 
*/

.chb-callout {
    color: #FFF;
    display: table;
    height: 400px;
    width: 100%;
    background: url("../img/shop/childrensbikes.jpg") no-repeat fixed center center / cover transparent;
}


/* Mailchimp pages styling
-------------------------------------------------- 
*/


.mc-center {
    text-align:center;
}

.mc-center h1 {
    font-size: 50px;
    margin-top:100px;
    margin-bottom: 50px;
}

.mc-center p {
    font-size:24px;
}


/* Responsive styling
-------------------------------------------------- 
*/



/* Styling for tablets*/

@media(max-width:991px) {

}

/* Styling for mobile phones*/

@media(max-width:768px) {

    body {
        font-size: 10px;
    }

    p {
        margin: 0px 0px 5px
    }

    .footer-a {
        font-size: 25px;
    }

    .fa-3x {
        font-size: 2.5em;
    }

    .follow-up-p p {
        font-size: 20px;
    }

    .text-vertical-center h1 {
        font-size: 2.5em;
    }

    .g-gray p {
        font-size: 20px;
    }

    #faq-list h2 {
        line-height:25px;
        font-size:20px;
        padding-left:30px;
    }

    .answer p {
        margin-left: 1px;
        font-size: 15px;
    }

    .t-green p, .t-white p { 
        font-size: 15px;
    }

    .t-green h2, .t-white h1 { 
        padding-top: 20px;
    }

    .sm-intro p {
        font-size: 18px;
        margin-right: 4px;
        margin-left: 4px;
    }

    .sm-green h2, .sm-white h2, .sm-green p, .sm-white p {
        margin-left: 25px;
    }

    .sm-green h2, .sm-white h2 {
        font-size: 18px;
    }

    .sm-green h3, .sm-white h3 {
        margin-right: 25px;
        font-size: 16px;
    }

    .s-heading a {
        font-size: 12px;
    }

    .s-heading {
        font-size: 15px;
    }

    .s-lead {
        font-size: 14px;
    }

    .s-item a {
        font-size: 30px;
    }

}